# Coded and Built by / Ahmed Hisham Elsayed

### Converted.in Task

## 0)Introduction
'xxxx' is information technology company built few Apps has Data related to Apps they built with existing users Info, the management and Marketing teams want to get all possible benefits from this data like.. what is the most OS they need to be focus most ?, how to increase the profit by targeting users?, what is the relations between variables, and so on.

## 1)importing Data

In [1]:
#import pandas 
import pandas as pd
#data file path
data_path = "E:/convirted in/data/convertedin USA Mobile App Data Small Sample.xlsx"
#import the CSV file
usapp_data = pd.read_excel(data_path)

## 2)Data understanding

In [2]:
#check the columns names
usapp_data.columns

Index(['MAID', 'AppBundle', 'AppName', 'Timestamp', 'UserAgent', 'Model',
       'Operating System', 'Device's Brand', 'Language', 'Lat', 'Lon',
       'Zip Code', 'City', 'Country', 'IP', 'Carrier'],
      dtype='object')

In [3]:
# check the size of the table
usapp_data.shape

(30000, 16)

data consist of 30000 rows and 16 columns

## 3)Assessing Data

In [4]:
usapp_data.head()

,MAID,AppBundle,AppName,Timestamp,UserAgent,Model,Operating System,Device's Brand,Language,Lat,Lon,Zip Code,City,Country,IP,Carrier
0,730e5cac-ea13-41fb-886c-e5d8459a2304,com.freerange360.mpp.businessinsider,Business Insider,1571814647200,Mozilla/5.0 (Linux; Android 9; moto e5 play Bu...,Moto E5 Play,Android,Motorola,NaN,34.227800,-118.442000,91331,Pacoima,USA,172.114.113.0,ISP:Time Warner
1,6442688f-eb1a-4fd9-b94c-aa8479085533,com.nytimes.android,NYTimes - Latest News,1571814647212,Dalvik/2.1.0 (Linux; U; Android 10; Pixel 3 Bu...,G013A,Android,Google,en,0.000000,0.000000,92376,Rialto,USA,172.58.27.0,T-Mobile
2,72AC9540-AE91-436C-94E8-A0151B05686F,281940292,WeatherBug ? Weather Forecast,1571814647216,Mozilla/5.0 (iPhone; CPU iPhone OS 12_4_2 like...,iPhone,Apple iOS,Apple,en,32.561523,-90.193115,30310,Atlanta,USA,107.77.234.0,AT&T
3,f34c6075-fa72-44b3-942c-7ff64fbe4df1,com.enflick.android.TextNow,TextNow: Free Texting & Calling App,1571814647219,Mozilla/5.0 (Linux; Android 6.0.1; SM-G900P Bu...,SM-G900P,Android,Sprint,en,0.000000,0.000000,80207,Denver,USA,76.120.23.0,NaN
4,6f666e2a-4384-4430-953d-b17461fcd479,com.enflick.android.TextNow,TextNow: Free Texting & Calling App,1571814648956,Mozilla/5.0 (Linux; Android 7.0; LGMP260 Build...,MP260,Android,LG,en,0.000000,0.000000,47905,Lafayette,USA,73.103.23.0,NaN

In [5]:
usapp_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30000 entries, 0 to 29999
Data columns (total 16 columns):
MAID                30000 non-null object
AppBundle           29514 non-null object
AppName             29415 non-null object
Timestamp           30000 non-null int64
UserAgent           30000 non-null object
Model               30000 non-null object
Operating System    30000 non-null object
Device's Brand      30000 non-null object
Language            21063 non-null object
Lat                 30000 non-null float64
Lon                 30000 non-null float64
Zip Code            30000 non-null int64
City                30000 non-null object
Country             30000 non-null object
IP                  29641 non-null object
Carrier             10460 non-null object
dtypes: float64(2), int64(2), object(12)
memory usage: 3.7+ MB

###### there are 12 Categorical column, 2 integer and 2 float
###### and there are missing values in 'AppName', 'AppBundle', 'Language', 'IP' and 'Carrier'

## 4)Cleaning Data

In [6]:
#drop duplicate if they are
app_data = usapp_data.drop_duplicates()

In [7]:
#Checking..
app_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 30000 entries, 0 to 29999
Data columns (total 16 columns):
MAID                30000 non-null object
AppBundle           29514 non-null object
AppName             29415 non-null object
Timestamp           30000 non-null int64
UserAgent           30000 non-null object
Model               30000 non-null object
Operating System    30000 non-null object
Device's Brand      30000 non-null object
Language            21063 non-null object
Lat                 30000 non-null float64
Lon                 30000 non-null float64
Zip Code            30000 non-null int64
City                30000 non-null object
Country             30000 non-null object
IP                  29641 non-null object
Carrier             10460 non-null object
dtypes: float64(2), int64(2), object(12)
memory usage: 3.9+ MB

no duplicates their

we shouldn't drop all rows that contain missing data now, because we gonna lose more than 50% of our data and this is not acceptable

In [8]:
#check which is the common language
app_data['Language'].value_counts(dropna=False)

en     20720
NaN     8937
es       277
zh        19
ja        10
fr         6
ko         6
ar         5
ru         4
pt         4
de         3
tr         2
hu         2
sv         2
pl         1
fa         1
nl         1
Name: Language, dtype: int64

so, English is the most common language

In [9]:
#fill missing values in'language' with the commen value in that column which is 'en'
app_data['Language'] = app_data['Language'].fillna('en')
#check with count
app_data['Language'].value_counts(dropna=False)

en    29657
es      277
zh       19
ja       10
fr        6
ko        6
ar        5
ru        4
pt        4
de        3
sv        2
tr        2
hu        2
pl        1
fa        1
nl        1
Name: Language, dtype: int64

In [10]:
#Checking..
app_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 30000 entries, 0 to 29999
Data columns (total 16 columns):
MAID                30000 non-null object
AppBundle           29514 non-null object
AppName             29415 non-null object
Timestamp           30000 non-null int64
UserAgent           30000 non-null object
Model               30000 non-null object
Operating System    30000 non-null object
Device's Brand      30000 non-null object
Language            30000 non-null object
Lat                 30000 non-null float64
Lon                 30000 non-null float64
Zip Code            30000 non-null int64
City                30000 non-null object
Country             30000 non-null object
IP                  29641 non-null object
Carrier             10460 non-null object
dtypes: float64(2), int64(2), object(12)
memory usage: 3.9+ MB

Carrier column has around 60% missing data, it is better to drop it

In [11]:
#drop carrier column
app_coldropped = app_data.drop(['Carrier'], axis=1)

In [12]:
app_coldropped.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 30000 entries, 0 to 29999
Data columns (total 15 columns):
MAID                30000 non-null object
AppBundle           29514 non-null object
AppName             29415 non-null object
Timestamp           30000 non-null int64
UserAgent           30000 non-null object
Model               30000 non-null object
Operating System    30000 non-null object
Device's Brand      30000 non-null object
Language            30000 non-null object
Lat                 30000 non-null float64
Lon                 30000 non-null float64
Zip Code            30000 non-null int64
City                30000 non-null object
Country             30000 non-null object
IP                  29641 non-null object
dtypes: float64(2), int64(2), object(11)
memory usage: 3.7+ MB

so now we can drop any row contains missing data

In [13]:
#drop rows that contain missing data
app_dropped = app_coldropped.dropna()

In [14]:
app_dropped.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 29056 entries, 0 to 29999
Data columns (total 15 columns):
MAID                29056 non-null object
AppBundle           29056 non-null object
AppName             29056 non-null object
Timestamp           29056 non-null int64
UserAgent           29056 non-null object
Model               29056 non-null object
Operating System    29056 non-null object
Device's Brand      29056 non-null object
Language            29056 non-null object
Lat                 29056 non-null float64
Lon                 29056 non-null float64
Zip Code            29056 non-null int64
City                29056 non-null object
Country             29056 non-null object
IP                  29056 non-null object
dtypes: float64(2), int64(2), object(11)
memory usage: 3.5+ MB

'Timestamp' column here is integer and ofcourse not readable, so it is better to convert it to be datetype

In [15]:
#import datetime function
from datetime import datetime

#convert 'Timestamp' to datetime type
normal_date = pd.to_datetime(app_dropped.Timestamp)

#have a look
normal_date.head()

0   1970-01-01 00:26:11.814647200
1   1970-01-01 00:26:11.814647212
2   1970-01-01 00:26:11.814647216
3   1970-01-01 00:26:11.814647219
4   1970-01-01 00:26:11.814648956
Name: Timestamp, dtype: datetime64[ns]

In [16]:
#let's merge the new column 'normal_date' into our dataframe
app_dropped['NormalDate'] = normal_date

#have a look
app_dropped.head()

C:\Users\hp\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,MAID,AppBundle,AppName,Timestamp,UserAgent,Model,Operating System,Device's Brand,Language,Lat,Lon,Zip Code,City,Country,IP,NormalDate
0,730e5cac-ea13-41fb-886c-e5d8459a2304,com.freerange360.mpp.businessinsider,Business Insider,1571814647200,Mozilla/5.0 (Linux; Android 9; moto e5 play Bu...,Moto E5 Play,Android,Motorola,en,34.227800,-118.442000,91331,Pacoima,USA,172.114.113.0,1970-01-01 00:26:11.814647200
1,6442688f-eb1a-4fd9-b94c-aa8479085533,com.nytimes.android,NYTimes - Latest News,1571814647212,Dalvik/2.1.0 (Linux; U; Android 10; Pixel 3 Bu...,G013A,Android,Google,en,0.000000,0.000000,92376,Rialto,USA,172.58.27.0,1970-01-01 00:26:11.814647212
2,72AC9540-AE91-436C-94E8-A0151B05686F,281940292,WeatherBug ? Weather Forecast,1571814647216,Mozilla/5.0 (iPhone; CPU iPhone OS 12_4_2 like...,iPhone,Apple iOS,Apple,en,32.561523,-90.193115,30310,Atlanta,USA,107.77.234.0,1970-01-01 00:26:11.814647216
3,f34c6075-fa72-44b3-942c-7ff64fbe4df1,com.enflick.android.TextNow,TextNow: Free Texting & Calling App,1571814647219,Mozilla/5.0 (Linux; Android 6.0.1; SM-G900P Bu...,SM-G900P,Android,Sprint,en,0.000000,0.000000,80207,Denver,USA,76.120.23.0,1970-01-01 00:26:11.814647219
4,6f666e2a-4384-4430-953d-b17461fcd479,com.enflick.android.TextNow,TextNow: Free Texting & Calling App,1571814648956,Mozilla/5.0 (Linux; Android 7.0; LGMP260 Build...,MP260,Android,LG,en,0.000000,0.000000,47905,Lafayette,USA,73.103.23.0,1970-01-01 00:26:11.814648956

after adding the new column, "Timestamp" is not useful and it is better to be  dropped

In [17]:
#drop timestamp column
app_data_cleaned = app_dropped.drop(['Timestamp'], axis=1)

#have a look
app_data_cleaned.head()

,MAID,AppBundle,AppName,UserAgent,Model,Operating System,Device's Brand,Language,Lat,Lon,Zip Code,City,Country,IP,NormalDate
0,730e5cac-ea13-41fb-886c-e5d8459a2304,com.freerange360.mpp.businessinsider,Business Insider,Mozilla/5.0 (Linux; Android 9; moto e5 play Bu...,Moto E5 Play,Android,Motorola,en,34.227800,-118.442000,91331,Pacoima,USA,172.114.113.0,1970-01-01 00:26:11.814647200
1,6442688f-eb1a-4fd9-b94c-aa8479085533,com.nytimes.android,NYTimes - Latest News,Dalvik/2.1.0 (Linux; U; Android 10; Pixel 3 Bu...,G013A,Android,Google,en,0.000000,0.000000,92376,Rialto,USA,172.58.27.0,1970-01-01 00:26:11.814647212
2,72AC9540-AE91-436C-94E8-A0151B05686F,281940292,WeatherBug ? Weather Forecast,Mozilla/5.0 (iPhone; CPU iPhone OS 12_4_2 like...,iPhone,Apple iOS,Apple,en,32.561523,-90.193115,30310,Atlanta,USA,107.77.234.0,1970-01-01 00:26:11.814647216
3,f34c6075-fa72-44b3-942c-7ff64fbe4df1,com.enflick.android.TextNow,TextNow: Free Texting & Calling App,Mozilla/5.0 (Linux; Android 6.0.1; SM-G900P Bu...,SM-G900P,Android,Sprint,en,0.000000,0.000000,80207,Denver,USA,76.120.23.0,1970-01-01 00:26:11.814647219
4,6f666e2a-4384-4430-953d-b17461fcd479,com.enflick.android.TextNow,TextNow: Free Texting & Calling App,Mozilla/5.0 (Linux; Android 7.0; LGMP260 Build...,MP260,Android,LG,en,0.000000,0.000000,47905,Lafayette,USA,73.103.23.0,1970-01-01 00:26:11.814648956

In [18]:
app_data_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 29056 entries, 0 to 29999
Data columns (total 15 columns):
MAID                29056 non-null object
AppBundle           29056 non-null object
AppName             29056 non-null object
UserAgent           29056 non-null object
Model               29056 non-null object
Operating System    29056 non-null object
Device's Brand      29056 non-null object
Language            29056 non-null object
Lat                 29056 non-null float64
Lon                 29056 non-null float64
Zip Code            29056 non-null int64
City                29056 non-null object
Country             29056 non-null object
IP                  29056 non-null object
NormalDate          29056 non-null datetime64[ns]
dtypes: datetime64[ns](1), float64(2), int64(1), object(11)
memory usage: 3.5+ MB

In [19]:
app_data_cleaned.describe()

                Lat           Lon      Zip Code
count  29056.000000  29056.000000  29056.000000
mean      26.633589    -69.503016  58960.584389
std       17.464978     46.727098  29990.347681
min       -1.000000   -160.038300   1002.000000
25%        0.000000   -102.089800  32348.000000
50%       34.040817    -84.100650  60901.000000
75%       39.784325      0.000000  89431.000000
max       71.301500    125.227356  99835.000000

### Now data is cleaned

let's save this cleaned data frame in an Excel file 'cleaneddf.xlsx'

In [20]:
#app_data_cleaned.to_excel(r'E:\convirted in\cleaned Data\cleaneddf.xlsx', index = False)

# ............................................................................................................................

we can say that as company, we need to know which OS needs a focus and  to be invested most  without having any info related to OS nor Model at any future Data, we may consider the 'Operating System' is the target

## 5)Selecting The Target "Operating System" of the model

In [21]:
#import pandas 
import pandas as pd
#data file path
data_path = "E:\convirted in\cleaned Data\cleaneddf.xlsx"
#import the CSV file
datausapp = pd.read_excel(data_path) 
datausapp.head()

,MAID,AppBundle,AppName,UserAgent,Model,Operating System,Device's Brand,Language,Lat,Lon,Zip Code,City,Country,IP,NormalDate
0,730e5cac-ea13-41fb-886c-e5d8459a2304,com.freerange360.mpp.businessinsider,Business Insider,Mozilla/5.0 (Linux; Android 9; moto e5 play Bu...,Moto E5 Play,Android,Motorola,en,34.227800,-118.442000,91331,Pacoima,USA,172.114.113.0,1970-01-01 00:26:11.815
1,6442688f-eb1a-4fd9-b94c-aa8479085533,com.nytimes.android,NYTimes - Latest News,Dalvik/2.1.0 (Linux; U; Android 10; Pixel 3 Bu...,G013A,Android,Google,en,0.000000,0.000000,92376,Rialto,USA,172.58.27.0,1970-01-01 00:26:11.815
2,72AC9540-AE91-436C-94E8-A0151B05686F,281940292,WeatherBug ? Weather Forecast,Mozilla/5.0 (iPhone; CPU iPhone OS 12_4_2 like...,iPhone,Apple iOS,Apple,en,32.561523,-90.193115,30310,Atlanta,USA,107.77.234.0,1970-01-01 00:26:11.815
3,f34c6075-fa72-44b3-942c-7ff64fbe4df1,com.enflick.android.TextNow,TextNow: Free Texting & Calling App,Mozilla/5.0 (Linux; Android 6.0.1; SM-G900P Bu...,SM-G900P,Android,Sprint,en,0.000000,0.000000,80207,Denver,USA,76.120.23.0,1970-01-01 00:26:11.815
4,6f666e2a-4384-4430-953d-b17461fcd479,com.enflick.android.TextNow,TextNow: Free Texting & Calling App,Mozilla/5.0 (Linux; Android 7.0; LGMP260 Build...,MP260,Android,LG,en,0.000000,0.000000,47905,Lafayette,USA,73.103.23.0,1970-01-01 00:26:11.815

apostrophe in column(Device's brand) gonna make issues with me, so i'm gonna change it to be like.. 'Devices Brand'

In [22]:
# once we find "'" replace it with ""
datausapp.columns = datausapp.columns.str.replace("'","")

In [23]:
#let's check
datausapp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29056 entries, 0 to 29055
Data columns (total 15 columns):
MAID                29056 non-null object
AppBundle           29056 non-null object
AppName             29056 non-null object
UserAgent           29056 non-null object
Model               29056 non-null object
Operating System    29056 non-null object
Devices Brand       29056 non-null object
Language            29056 non-null object
Lat                 29056 non-null float64
Lon                 29056 non-null float64
Zip Code            29056 non-null int64
City                29056 non-null object
Country             29056 non-null object
IP                  29056 non-null object
NormalDate          29056 non-null datetime64[ns]
dtypes: datetime64[ns](1), float64(2), int64(1), object(11)
memory usage: 3.3+ MB

## 6)create new columns and eliminate others

In [24]:
#create new columns
datausapp['AppB-N'] = datausapp['AppBundle'] +  datausapp['AppName']
datausapp['DeviceM-B'] = datausapp['Model'] +  datausapp['Devices Brand']
datausapp['Location'] = datausapp['Country'] +  datausapp['City']

In [25]:
#let's check
datausapp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29056 entries, 0 to 29055
Data columns (total 18 columns):
MAID                29056 non-null object
AppBundle           29056 non-null object
AppName             29056 non-null object
UserAgent           29056 non-null object
Model               29056 non-null object
Operating System    29056 non-null object
Devices Brand       29056 non-null object
Language            29056 non-null object
Lat                 29056 non-null float64
Lon                 29056 non-null float64
Zip Code            29056 non-null int64
City                29056 non-null object
Country             29056 non-null object
IP                  29056 non-null object
NormalDate          29056 non-null datetime64[ns]
AppB-N              29056 non-null object
DeviceM-B           29056 non-null object
Location            29056 non-null object
dtypes: datetime64[ns](1), float64(2), int64(1), object(14)
memory usage: 4.0+ MB

In [26]:
#let's see
datausapp.head(1)

,MAID,AppBundle,AppName,UserAgent,Model,Operating System,Devices Brand,Language,Lat,Lon,Zip Code,City,Country,IP,NormalDate,AppB-N,DeviceM-B,Location
0,730e5cac-ea13-41fb-886c-e5d8459a2304,com.freerange360.mpp.businessinsider,Business Insider,Mozilla/5.0 (Linux; Android 9; moto e5 play Bu...,Moto E5 Play,Android,Motorola,en,34.2278,-118.442,91331,Pacoima,USA,172.114.113.0,1970-01-01 00:26:11.815,com.freerange360.mpp.businessinsiderBusiness I...,Moto E5 PlayMotorola,USAPacoima

no need now to columns ['AppBundle', 'AppName', 'Model', 'Devices Brand', 'Country', 'City'], will be eliminated

In [27]:
#Eliminate column ['AppBundle', 'AppName', 'Model', 'Devices Brand', 'Country', 'City']
dataapp = datausapp.drop(['AppBundle', 'AppName', 'Model', 'Devices Brand', 'Country', 'City'], axis=1)

In [28]:
#let's check
dataapp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29056 entries, 0 to 29055
Data columns (total 12 columns):
MAID                29056 non-null object
UserAgent           29056 non-null object
Operating System    29056 non-null object
Language            29056 non-null object
Lat                 29056 non-null float64
Lon                 29056 non-null float64
Zip Code            29056 non-null int64
IP                  29056 non-null object
NormalDate          29056 non-null datetime64[ns]
AppB-N              29056 non-null object
DeviceM-B           29056 non-null object
Location            29056 non-null object
dtypes: datetime64[ns](1), float64(2), int64(1), object(8)
memory usage: 2.7+ MB

In [29]:
#let's see
dataapp.head(1)

,MAID,UserAgent,Operating System,Language,Lat,Lon,Zip Code,IP,NormalDate,AppB-N,DeviceM-B,Location
0,730e5cac-ea13-41fb-886c-e5d8459a2304,Mozilla/5.0 (Linux; Android 9; moto e5 play Bu...,Android,en,34.2278,-118.442,91331,172.114.113.0,1970-01-01 00:26:11.815,com.freerange360.mpp.businessinsiderBusiness I...,Moto E5 PlayMotorola,USAPacoima

## 7) taking a Random Sample

Take a sample n = 10000

In [30]:
import random

In [31]:
#take a sample
dataappsample10000 = dataapp.sample(n = 10000)

In [32]:
#let's see
dataappsample10000.head(1)

,MAID,UserAgent,Operating System,Language,Lat,Lon,Zip Code,IP,NormalDate,AppB-N,DeviceM-B,Location
3617,c7081e5d-3c35-4593-9e84-23c4641b296a,Mozilla/5.0 (iPhone; CPU iPhone OS 13_1_3 like...,Apple iOS,en,0.0,0.0,90640,107.77.229.0,1970-01-01 00:26:11.815,502958939Long Beach Press-Telegram,iPhoneApple,USAMontebello

In [33]:
#let's check
dataappsample10000.columns

Index(['MAID', 'UserAgent', 'Operating System', 'Language', 'Lat', 'Lon',
       'Zip Code', 'IP', 'NormalDate', 'AppB-N', 'DeviceM-B', 'Location'],
      dtype='object')

##### i want to set the target of my model to be the operation system, without info about DeviceM-B(device model, device bundle), but this column is categorical, so i'll proceed with Approach "Find and Replace" whuch meand i'll replace each categorical variable with a number.

In [34]:
#check how many unique categorical values under "Operating system"
dataappsample10000['Operating System'].value_counts()

Android      5349
Apple iOS    4420
Roku OS       227
Tizen           2
Unknown         2
Name: Operating System, dtype: int64

In [35]:
#Name categorical values in "operating values" with numbers
OS = {"Operating System":{"Apple iOS": 1, "Android": 2, 'Roku OS':3, 'Tizen':4, 'Unknown':0, 'Chrome OS':6, 'Linux': 6}}

In [36]:
#Replace coategorical variable in "Operating System" with numbers like in OS dictionary
dataappsample10000.replace(OS, inplace=True)

#let's see
dataappsample10000.head()

,MAID,UserAgent,Operating System,Language,Lat,Lon,Zip Code,IP,NormalDate,AppB-N,DeviceM-B,Location
3617,c7081e5d-3c35-4593-9e84-23c4641b296a,Mozilla/5.0 (iPhone; CPU iPhone OS 13_1_3 like...,1,en,0.0000,0.0000,90640,107.77.229.0,1970-01-01 00:26:11.815,502958939Long Beach Press-Telegram,iPhoneApple,USAMontebello
14313,37ba9fc6-0306-42f5-a4d3-bdd67f91e202,Dalvik/2.1.0 (Linux; U; Android 9; SM-S767VL B...,2,en,0.0000,0.0000,35043,174.255.195.0,1970-01-01 00:26:11.815,com.myyearbook.mMeetMe: Chat & Meet New People,SM-S767VLTracfone,USAChelsea
16422,20c9ad45-d77b-47e1-9334-e64723fae6da,Mozilla/5.0 (Linux; Android 7.0; LG-M430 Build...,2,en,0.0000,0.0000,92028,108.247.38.0,1970-01-01 00:26:11.815,com.enflick.android.TextNowTextNow: Free Texti...,M430Cricket,USAFallbrook
5263,e8e6793d-eb9b-4775-beea-e7ad9364222d,Mozilla/5.0 (Linux; Android 8.0.0; SM-N950U Bu...,2,en,33.7015,-117.7528,92604,68.101.97.0,1970-01-01 00:26:11.815,com.moneyracestudios.moneyrace2Money Race 2,SM-N950USamsung,USAIrvine
8715,ab0edc1e-ab6e-4f2f-85cf-3c1ceda954ba,Mozilla/5.0 (iPhone; CPU iPhone OS 13_1_3 like...,1,en,40.2783,-111.7198,84058,98.202.108.0,1970-01-01 00:26:11.815,733948370Movie Poster Mania,iPhoneApple,USAOrem

set 'Operating System' as a target 'y'

In [37]:
# 'Operating System' is the target
data_targets = ['Operating System']

In [38]:
# name the target 'y'
y = dataappsample10000[data_targets]
y.head()

      Operating System
3617                 1
14313                2
16422                2
5263                 2
8715                 1

## 8)selecting "Features" of the model

Now i need to select the features

In [39]:
#check name of columns
dataappsample10000.columns

Index(['MAID', 'UserAgent', 'Operating System', 'Language', 'Lat', 'Lon',
       'Zip Code', 'IP', 'NormalDate', 'AppB-N', 'DeviceM-B', 'Location'],
      dtype='object')

#### eliminate some features (eliminate all except..('Zip Code','IP', 'AppB-N', 'Location', 'Lat', 'Lon'))

In [40]:
#selecting 'features' variables
data_features = ['Zip Code','IP', 'AppB-N', 'Location', 'Lat', 'Lon']

In [41]:
#name the "features" X
X = dataappsample10000[data_features]

In [42]:
X.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10000 entries, 3617 to 2385
Data columns (total 6 columns):
Zip Code    10000 non-null int64
IP          10000 non-null object
AppB-N      10000 non-null object
Location    10000 non-null object
Lat         10000 non-null float64
Lon         10000 non-null float64
dtypes: float64(2), int64(1), object(3)
memory usage: 546.9+ KB

In [43]:
#check measurements like mean,sd for the X
X.describe()

           Zip Code           Lat           Lon
count  10000.000000  10000.000000  10000.000000
mean   58921.243000     26.714356    -69.794284
std    29915.664236     17.371909     46.585666
min     1002.000000     -1.000000   -160.038300
25%    32506.750000      0.000000   -101.753390
50%    60918.500000     34.034900    -84.292100
75%    89136.000000     39.737000      0.000000
max    99801.000000     70.636900    125.227356

In [44]:
X.head()

,Zip Code,IP,AppB-N,Location,Lat,Lon
3617,90640,107.77.229.0,502958939Long Beach Press-Telegram,USAMontebello,0.0000,0.0000
14313,35043,174.255.195.0,com.myyearbook.mMeetMe: Chat & Meet New People,USAChelsea,0.0000,0.0000
16422,92028,108.247.38.0,com.enflick.android.TextNowTextNow: Free Texti...,USAFallbrook,0.0000,0.0000
5263,92604,68.101.97.0,com.moneyracestudios.moneyrace2Money Race 2,USAIrvine,33.7015,-117.7528
8715,84058,98.202.108.0,733948370Movie Poster Mania,USAOrem,40.2783,-111.7198

so now, we should start building the model, but, models hate categorcal variables, so we have 3 approaches
1) drop categorical columns, but this will decrease of course the accuracy of the model
2) "Label Encoding" for ordinal variable, but our categorical variables here are nominal !
3)"One-Hot Encoding" and i will go proceed with this approach

mmmm, lt's make a last assess:
our data here is:
    1) structured
    2) there is no lack of data or issue like that 
    3) supervised
it came in mind 'descision tree' but Decision trees leave you with a difficult decision. A deep tree with lots of leaves will overfit, But a shallow tree with few leaves will perform poorly because it fails to capture as many distinctions in the raw data.

mmmmm, now it came in mind "Random forest", The random forest uses many trees, and it makes a prediction by averaging the predictions of each component tree. It generally has much better predictive accuracy than a single decision tree and it works well with default parameters

## 9) Choosing the model && Fix categorical variables

In [45]:
#imprt few package for building the model 
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error
from sklearn.model_selection import train_test_split

splitting the data into 2 groups

In [46]:
# Break off validation set from training data
X_train, X_valid, y_train, y_valid = train_test_split(X, y,
                                                      train_size=0.8, test_size=0.2,
                                                      random_state=0)

###### Random forest model

In [47]:
# function for comparing different approaches
def score_dataset(X_train, X_valid, y_train, y_valid):
    model = RandomForestRegressor(n_estimators=100, random_state=0)
    model.fit(X_train, y_train)
    preds = model.predict(X_valid)
    return mean_absolute_error(y_valid, preds)

start fixing categorical variables

In [48]:
# Get list of categorical variables
s = (X.dtypes == 'object')
object_cols = list(s[s].index)

print("Categorical variables:")
print(object_cols)

Categorical variables:
['IP', 'AppB-N', 'Location']

In [49]:
#import the approach choosen to fix categorical variables
from sklearn.preprocessing import OneHotEncoder

In [50]:
# Apply one-hot encoder to each column with categorical data
OH_encoder = OneHotEncoder(handle_unknown='ignore', sparse=False)
OH_cols_train = pd.DataFrame(OH_encoder.fit_transform(X_train[object_cols]))
OH_cols_valid = pd.DataFrame(OH_encoder.transform(X_valid[object_cols]))

In [51]:
# One-hot encoding removed index; put it back
OH_cols_train.index = X_train.index
OH_cols_valid.index = X_valid.index

In [52]:
# Remove categorical columns (will replace with one-hot encoding)
num_X_train = X_train.drop(object_cols, axis=1)
num_X_valid = X_valid.drop(object_cols, axis=1)

In [53]:
# Add one-hot encoded columns to numerical features
OH_X_train = pd.concat([num_X_train, OH_cols_train], axis=1)
OH_X_valid = pd.concat([num_X_valid, OH_cols_valid], axis=1)

In [54]:
print("MAE from Approach 3 (One-Hot Encoding):") 
print(score_dataset(OH_X_train, OH_X_valid, y_train, y_valid))

MAE from Approach 3 (One-Hot Encoding):

C:\Users\hp\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  after removing the cwd from sys.path.

0.06228

so now we got a very low mean square error, sounds good, this means that our model is working good

## 10)Conclusion

from now to the future we can know the OS of the user without any info about mobile model/brand